*{
	margin: 0;
	padding: 0;
}
.header{
	min-height: 100vh;
	width: 100%;
	background-image:url(f239b5fe-7912-485a-9279-ab3b1269c08b.PNG);
	;
background-position: center;
background-size: cover;
position: relative;
}
nav{
	display: flex;
	padding: 3% 7%;
	justify-content: space-between;
	align-items: center;
}
h1{
	color: #ffffff;
}
.nav-links{
	flex: 1;
	text-align: right;
}
.nav-links ul li{
	list-style: none;
	display: inline-block;
	padding: 9px 13px;
}
.nav-links ul li a{
	color: #ffffff;
	text-decoration: none;
	font-size: 15px;
	padding: 5px 15px;
}
.nav-links ul li::after{
	content: '';
	width: 0%;
	height: 2px;
	background: #ffffff;
	display: block;
	margin: auto;
	transition: 0.8s;
}
.nav-links ul li:hover::after{
	width: 100%;
}
.text-box{
	width: 90%;
	color: #000080;
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}
.text-box h2{
	font-size: 70px;
	color: 000080;
}
.text-box p{
	color: #000000;
	font-size:20px;
	margin: 10px 0 50px;
}
.target p{
	color: #000000;
	display: flex;
	text-align: left;
	font-size: 13px;
}
.hero-btn{
	color: #000080;
	display: inline-block;
	text-decoration: none;
	border: 1px solid #000000;
	padding: 10px 30px;
	font-size: 15px;
	position: relative;
	background: transparent;
	transition: 1.5s;
}
.hero-btn:hover{
	border: 0.5px solid #FFFFFF;
	background: #ffff00;
}

nav .fa{
	display: none;
}

@media(max-width: 700px){
	.text-box h1{
		font-size: 40px;
		color: #000080;
	}
	.text-box p{
		font-size: 15px;
	}
	.nav-links ul li{
		display: block;
	}
	.nav-links{
		position: absolute;
		background: #FFFF00;
		height: 100vh;
		width: 175px;
		top: 0;
		right: -200px;
		text-align: left;
		z-index: 2;
		transition: 0.75s;
	}
	nav .fa{
		display: block;
		color: #000000;
		cursor: pointer;
		font-size: 20px;
		margin: 10px;
	}
	.nav-links ul{
		padding: 20px;
	}
	
}
.places{
	width: 70%;
	text-align: center;
	padding-top: 5%;
	margin: auto;
}
h2{
	font-size: 40px;
	color: #000080;
	font-weight: 600;
}
.want{
	margin: 5%;
	justify-content: space-between;
	display: flex;
}
.shann{
	flex-basis: 31%;
	background: #add8e6;
	border-radius: 10px;
	padding: 25px 12px;
	margin-bottom: 3;
	box-sizing: border-box;
	transition: 0.75s;
}
.shann:hover{
	box-shadow: 0 0 20px 0px #000080;
}
@media(max-width: 700px){
	.want{
		flex-direction: column;
	}
}
.your{
	margin: 5%;
	justify-content: space-between;
	display: flex;
}
.arlly{
	flex-basis: 31%;
	background: #add8e6;
	border-radius: 10px;
	padding: 25px 12px;
	margin-bottom: 3;
	box-sizing: border-box;
	transition: 0.75s;
}
.arlly:hover{
	box-shadow: 0 0 20px 0px #000080;
}
@media(max-width: 700px){
	.your{
		flex-direction: column;
	}
}








